.head {
    display: flex;
    justify-content: center;
}
html {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScXlYnYnjLmVD7OnXoXX8fQZ274L0R2BSS9KudLyB0DBcM4Pue:https://garden.spoonflower.com/c/15020523/p/f/m/3bBEIioR__OO4CoeroctZZnX-mvNAPNCcy3qM-EkKplDCn1pWj8K0-U/Watercolor%2520Bows%2520%2526%2520Flowers%2520Ditsy%2520Floral%2520Toss%2520Grandmillennial%2520Preppy%2520Traditional%2520by%2520Pretty%2520Festive%2520Design%2520PF127B.jpg&s");
}

.container {
    width: 75%;
    margin: 0 auto;
}
.top {
    border: 1px solid black;
    display: flex;
    background-color: #9FBBCC;
    ;
    height: fit-content;
    justify-content: center;

}
.box1 {
    border: 1px solid black;
}
.row {
    display: flex;
    justify-content: space-evenly;
} 
#row .color1 {
    display:flex;
    margin: 10px 10px 10px 10px;
    justify-content: center;
}
#row .color2 {
    display: flex;
    margin: 10px 10px 10px 10px;
    justify-content: center;
}
#row .color3 {
    display: flex;
    margin: 10px 10px 10px 10px;
    justify-content: center;

}
.words {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: #9FBBCC;
    ;
}
.designs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.box2 { 
    display: flex;
    border: 1px solid black;
    justify-content: center
}
.box3 { 
    display: flex;
    border: 1px solid black;
    justify-content: center
}
.box4 {
    display: flex;
    border: 1px solid black;
    justify-content: center
}
.box5 {
    display: flex;
    border: 1px solid black;
    justify-content: center
}
.boxholder {
    display: flex;
}
.box6 {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    margin: 0 auto;
}
.blurb {
    border: 1px solid black;
    display:flex;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    background-color: #9FBBCC;
}